<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
 
    <div class="form-background">
        <h2 class="active">Reset Password</h2>
        <div class="container">           
            <form action="/new-password" method="POST">
                <div>
                    <input type="password" name="password" required>
                    <label> Password </label>
                </div>
                <div>
                    <input type="password" name="confirm-password" required>
                    <label> Confirm Password </label>
                </div>
                <input type="submit">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            </form>
        </div>
    </div>
 <%- include('../includes/end.ejs') %>