<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth/form.css">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    
        <div id="newsletter_panel"  class="newsletter_panel_login">
            <div class="form-background">
                <h1 class="active">Reset Password</h1>
                <div class="container">
                    <form action="/newpass" class="login-form" method="POST">
                        <div class="txtb">
                            <label for="email"> New Password</label>
                            <input class="input100" name="password" type="text" required>
                            <span class="focus-input100"></span>
                        </div>         
                        <div class="txtb">
                            <label for="email"> Confirm Password</label>
                            <input type="hidden" name="userId" value="<%= userId%>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <input class="input100" name="confirm-password" type="text" required>
                            <span class="focus-input100"></span>
                        </div>                  
                        <input type="submit" class="logbtn" value="Reset">    
                    </form>           
                </div>
            </div>
        </div>
 <%- include('../includes/end.ejs') %>