<!DOCTYPE html>
<html>
<head>
	<title><%= user.name %></title>
	<link rel="icon" type="image/png" href="/images/logo.png">
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/script/profile.js"></script>
	<link rel="stylesheet" href="/css/auth/profile.css" >
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="/">ShopSaga</a>
		  </div>
	  
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			<% if(isLoggedIn) { %>
			  <li class="nav-item">
				<button type="button" onclick="location.href='/post'" class="btn btn-default navbar-btn btn-sell"><span class="glyphicon glyphicon-camera"></span>Sell with Us!</button>
			  </li>
			  <li class="nav-item">
				<button type="button" onclick="location.href='/profile/<%= user_id %>'" class="btn btn-default navbar-btn">Profile</button>
			  </li>
			  <li class="nav-item">
				<button type="button" onclick="location.href='/logout'" class="btn btn-default navbar-btn">Logout</button>
			  </li>
			  <% } else {%>
				<li class="nav-item">
					<button type="button" onclick="location.href='/login'" class="btn btn-default navbar-btn">Login</button>
				</li>
				<li class="nav-item">
					<button type="button" onclick="location.href='/signup'" class="btn btn-default navbar-btn">Signup</button>
				</li>

			  <% } %>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>
	<div class="container">
		<div class="row profile">
			<div class="col-md-3">
				<div class="profile-sidebar">
					<!-- SIDEBAR USERPIC -->
					<div class="profile-userpic">
						<img src="/images/avatar.png" class="img-responsive" alt="">
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<%= user.name%>
						</div>
						<div class="profile-usertitle-job">
							Member Since <br>
							<%= user.date_joined.getDate()%> <%= new Intl.DateTimeFormat('en-US', { month: 'long'}).format(user.date_joined)%>
						</div>
					</div>
					<!-- END SIDEBAR USER TITLE -->

					<!-- SIDEBAR BUTTONS -->
					<div class="profile-userbuttons">
						<button type="button" href="/" class="btn btn-info btn-sm">Message</button>
					</div>
					<!-- END SIDEBAR BUTTONS -->

					<!--  CONTACT DETAILS START -->
					<div class="contact-details">
						<ul class="contacts-list">
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<% if(myprofile) {%>
									<span class="phone"><%= user.phone%></span>
								<% } else {%>
									<span class="phone">*** *** ****</span>
								<% } %>
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<span class="phone"><%= user.email%></span>
							</li>
						</ul>
					</div>
					<!--  CONTACT DETAILS END -->
					<!-- SIDEBAR MENU -->
					<div class="profile-usermenu" id="nav-id">
						<ul class="nav">
							<li class="lst active" onclick="changeTab()">
								<a href="">
								<i class="glyphicon glyphicon-home"></i>
								Overview </a>
							</li>
							<% if(myprofile) {%>
							<li class="lst" onclick="changeTab()">
								<a href="/verify">
								<i class="glyphicon glyphicon-flag"></i>
								Verify </a>
							</li>
							<li class="lst" onclick="changeTab()">
								<a href="/resetpass">
								<i class="glyphicon glyphicon-lock"></i>
								Change Password </a>
							</li>
							<li class="lst" onclick="changeTab(); SignUpForNewsletter();">
								<a href="/">
								<i class="glyphicon glyphicon-trash"></i>
								Delete Account </a>
							</li>
							<% } else { %>
							<li class="lst" onclick="changeTab()">
								<a href="/report">
								<i class="glyphicon glyphicon-flag"></i>
								Report User </a>
							</li>
							<% } %>
						</ul>
					</div>
					<!-- END MENU -->
				</div>
			</div>
			<div class="grid-container">
				<% for(let i=0;i<prods.length;i++) { %>
				<div class="prod-container" id="p1">
					<div>
						<img src="<%= prods[i].image_url[0].url%>">
					</div>
					<div class="price modify">
						<h4>₹ <%= prods[i].price%></h4>
						<ul class="mod-prod">
							<% if(!myprofile) {%>
							<li><button onclick="location.href='/product/<%= prods[i]._id %>'" class="btn-view"> View</button></li>
							<% } else { %>
							<li><button onclick="location.href='/delete/<%= prods[i]._id %>'" class="btn-delete"><span class="glyphicon glyphicon-trash"></span>Delete</button></li>
							<li><button onclick="location.href='/modify/<%= prods[i]._id %>'" class="btn-modify"><span class="glyphicon glyphicon-cog"></span>Modify Details</button></li>
							<% } %>
						</ul>
					</div>
					<div class="sub-div">
						<h4 onclick="location.href='/product/<%= prods[i]._id%>'" class="prod-name"><%= prods[i].name.split(" ").splice(0,4).join(" ") %></h4>
						<h4 class="prod-cate"><%= prods[i].category.charAt(0).toUpperCase() + prods[i].category.slice(1)%></h3>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<div id="page_screen">&nbsp;</div>
		<div id="panel" style="display:none;">
			<div class="form-background">
				<h1 class="active">Are you sure?</h1>
				<div class="delete-container">
					<div class="container">
						<div class="col-md-8">
							<button id="bCancel" name="bCancel" class="btn btn-danger confirm-btn">Confirm</button>
							<button id="bGodkend" name="bGodkend" class="btn btn-success closepop" onclick="closePopLogin()">Cancel</button>
						</div>
					</div>     
				</div>
			</div>
		</div>
	</body>
</html>