<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <!-- Category Bar Start -->
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " href="/?category=electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?category=accessory">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?category=hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/?category=books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?category=sports">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?category=other">Other</a>
          </li>
      </ul>
    <!-- Category Bar End -->

    <!-- Product Display -->
    <main>
            <div class="container-fluid">
              <h4 class="category-text"><%= pageHeader %></h4>
              <% for(let i=0; i<prods.length; i=i+5) { %>
                <div class="row">
                  <% for(let j=i; j<Math.min(prods.length, i+5); j++) { %>
                    <div class="col-sm">
                      <div class="product">
                        <div class="product-image">
                            <img class="product-img-top" src=<%= prods[j].image_url%> >
                        </div>
                        <div class="product-details">
                          <p class="product-name"><%= prods[j].name %></p>
                          <p class="product-description"><%= prods[j].description.split(" ").splice(0,6).join(" ") %>...</p>
                        </div>
                        <div class="seller-details">
                          <p class="product-price">₹<%= prods[j].price %></p>
                          <a class="btn btn-outline-info" href="/product/<%= prods[j]._id %>" role="button">View More</a>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              <% } %>
            </div>
    </main>
<%- include('includes/end.ejs') %>