<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <!-- Category Bar Start -->
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " href="/?category=electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?category=accessory">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="?category=hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/?category=books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?category=sports">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?category=other">Other</a>
          </li>
      </ul>
    <!-- Category Bar End -->

    <!-- Product Display -->
    <main>
            <div class="container-fluid">
              <h4 class="category-text"><%= pageHeader.charAt(0).toUpperCase() + pageHeader.slice(1) %></h4>

              <form class="form-inline filter-form" method="GET" action="/">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="college">
                  <option selected>Select Colleges...</option>
                  <% for(let i=0;i<colleges.length;i++) { %>
                    <option value=<%= colleges[i] %> > <%=colleges[i]%> </option>
                  <% } %>
                  </select>
                <button type="submit" class="btn btn-primary my-1">Submit</button>
              </form>

              <% for(let i=0; i<prods.length; i=i+4) { %>
                <div class="row">
                  <% for(let j=i; j<Math.min(prods.length, i+4); j++) { %>
                    <div class="col-sm">
                      <div class="product">
                        <div class="product-image">
                            <img class="product-img-top" src=<%= prods[j].image_url[0].url%> >
                        </div>
                        <div class="product-details">
                          <p class="product-name" onclick="location.href='/product/<%= prods[j]._id %>'"><%= prods[j].name %></p>
                          <p class="product-description"><%= prods[j].description.split(" ").splice(0,6).join(" ") %>...</p>
                        </div>
                        <div class="seller-details">
                          <p class="product-price">₹<%= prods[j].price %></p>
                          <a class="btn btn-outline-info" href="/product/<%= prods[j]._id %>" role="button">View More</a>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              <% } %>
            </div>
    </main>
<%- include('includes/end.ejs') %>